* { margin: 0; padding: 0; }
@font-face {
    font-family: newYorker; 
    src: url('fonts/Cygnet.ttf');
}

 body {font: 16px newYorker, Sans-Serif; 
            line-height: 24px; 
            background-color: #bddae0;} 
         
        .clear { clear: both; }
        
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: left; margin: 60px 0 0 0; }
        
         h1 { margin: 0 0 16px 0; 
             padding: 0 0 16px 0; 
             color: #454c4e; 
             font-size: 42px; 
             font-weight: bold; 
             letter-spacing: -2px; 
             border-bottom: 2px solid #f4d54c; }
        
         h2 { font-size:20; 
             margin: 0 0 6px 0; 
             position: relative; }
        
         h2 span { position: absolute; 
             bottom: 0; 
             right: 0; 
             font-style: italic; 
             font-family: Georgia, Serif; 
             font-size: 16px;
             color: #454c4e; font-weight: normal; }
        
         p { margin: 0 0 16px 0;color: #666}
        
         a { color: #04a8b0; text-decoration: none; border-bottom: 1px dotted #f4d54c; }
         a:hover { border-bottom-style: solid; color: black; }
         ul { margin: 0 0 32px 17px; }
         #objective { width: 450px; float: left; }
         #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
         
         dt0 {font-weight: bold; 
             font-family: newYorker; 
             font-size: 20px; 
             color: #454c4e; 
             text-align: right; 
             padding: 0 26px 0 0; 
             width: 150px; 
             float: left; 
             height: 190px; 
             border-right: 2px solid #f4d54c;}
         
         dt {font-weight: bold; 
             font-family: newYorker; 
             font-size: 20px; 
             color: #454c4e; 
             text-align: right; 
             padding: 0 26px 0 0; 
             width: 150px; 
             float: left; 
             height: 380px; 
             border-right: 2px solid #f4d54c;}
        
         dt1 {font-family: newYorker; 
             font-weight: bold; 
             font-size: 20px;
             color: #454c4e; 
             text-align: right; 
             padding: 0 26px 0 0; 
             width: 150px; 
             float: left; 
             height: 75px; 
             border-right: 2px solid #f4d54c;}
         
        dt2 {font-family: newYorker; 
            font-weight: bold; 
            font-size: 20px; 
            color: #454c4e; 
            text-align: right; 
            padding: 0 26px 0 0; 
            width: 150px; 
            float: left; 
            height: 320px; 
            border-right: 2px solid #f4d54c;  }
        
         dt3 {font-family: newYorker; 
             font-weight: bold; 
             font-size: 20px; 
             color: #454c4e; 
             text-align: right; 
             padding: 0 26px 0 0; 
             width: 150px; 
             float: left; 
             height: 100px; 
             border-right: 2px solid #f4d54c;}         
         
         dd {width: 600px; float: right;color: #666; font-family: Georgia, Serif;}
        
         dd.clear { float: none; margin: 0; height: 15px; }